<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peace.ostp.persistence.BasicSportTypeMapper" >
  <resultMap id="BaseResultMap" type="com.peace.ostp.domain.BasicSportType" >
    <id column="SportTypeID" property="sporttypeid" jdbcType="CHAR" />
    <result column="SportTypeName" property="sporttypename" jdbcType="VARCHAR" />
    <result column="Note" property="note" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    SportTypeID, SportTypeName, Note, create_by, create_date, update_by, update_date
  </sql>
  
  
  <!-- 使用equiptypeid查询 -->
  <select id="selectSportType" resultType="java.lang.String" parameterType="java.lang.String">
  	select SportTypeName
  	from basicsporttype
  	where SportTypeID = #{sporttypeid}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from basicsporttype
    where SportTypeID = #{sporttypeid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from basicsporttype
    where SportTypeID = #{sporttypeid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.peace.ostp.domain.BasicSportType" >
    insert into basicsporttype (SportTypeID, SportTypeName, Note, 
      create_by, create_date, update_by, 
      update_date)
    values (#{sporttypeid,jdbcType=CHAR}, #{sporttypename,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.peace.ostp.domain.BasicSportType" >
    insert into basicsporttype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sporttypeid != null" >
        SportTypeID,
      </if>
      <if test="sporttypename != null" >
        SportTypeName,
      </if>
      <if test="note != null" >
        Note,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sporttypeid != null" >
        #{sporttypeid,jdbcType=CHAR},
      </if>
      <if test="sporttypename != null" >
        #{sporttypename,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peace.ostp.domain.BasicSportType" >
    update basicsporttype
    <set >
      <if test="sporttypename != null" >
        SportTypeName = #{sporttypename,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        Note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SportTypeID = #{sporttypeid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peace.ostp.domain.BasicSportType" >
    update basicsporttype
    set SportTypeName = #{sporttypename,jdbcType=VARCHAR},
      Note = #{note,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where SportTypeID = #{sporttypeid,jdbcType=CHAR}
  </update>
  <!-- 获取所有运动类型 -->
  <select id="sportTypeCombox" resultType="java.util.HashMap">
  	SELECT SportTypeID,SportTypeName FROM BasicSportType
  </select>
  
  <select id="getAllSportType" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from basicsporttype
  </select>
</mapper>