<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peace.ostp.persistence.InfoFirstLevelTypeMapper" >
  <resultMap id="BaseResultMap" type="com.peace.ostp.domain.InfoFirstLevelType" >
    <id column="FirstLevelInfoTypeID" property="firstlevelinfotypeid" jdbcType="CHAR" />
    <result column="FirstLevelInfoTypeName" property="firstlevelinfotypename" jdbcType="VARCHAR" />
    <result column="Note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FirstLevelInfoTypeID, FirstLevelInfoTypeName, Note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from infofirstleveltype
    where FirstLevelInfoTypeID = #{firstlevelinfotypeid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from infofirstleveltype
    where FirstLevelInfoTypeID = #{firstlevelinfotypeid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.peace.ostp.domain.InfoFirstLevelType" >
    insert into infofirstleveltype (FirstLevelInfoTypeID, FirstLevelInfoTypeName, 
      Note)
    values (#{firstlevelinfotypeid,jdbcType=CHAR}, #{firstlevelinfotypename,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.peace.ostp.domain.InfoFirstLevelType" >
    insert into infofirstleveltype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="firstlevelinfotypeid != null" >
        FirstLevelInfoTypeID,
      </if>
      <if test="firstlevelinfotypename != null" >
        FirstLevelInfoTypeName,
      </if>
      <if test="note != null" >
        Note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="firstlevelinfotypeid != null" >
        #{firstlevelinfotypeid,jdbcType=CHAR},
      </if>
      <if test="firstlevelinfotypename != null" >
        #{firstlevelinfotypename,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.peace.ostp.domain.InfoFirstLevelType" >
    update infofirstleveltype
    <set >
      <if test="firstlevelinfotypename != null" >
        FirstLevelInfoTypeName = #{firstlevelinfotypename,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        Note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where FirstLevelInfoTypeID = #{firstlevelinfotypeid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.peace.ostp.domain.InfoFirstLevelType" >
    update infofirstleveltype
    set FirstLevelInfoTypeName = #{firstlevelinfotypename,jdbcType=VARCHAR},
      Note = #{note,jdbcType=VARCHAR}
    where FirstLevelInfoTypeID = #{firstlevelinfotypeid,jdbcType=CHAR}
  </update>
  
  <!-- 获取一级资讯内容 -->
  <select id="getAllFirstLevelType" resultType="java.util.HashMap">
  	SELECT FirstLevelInfoTypeID,FirstLevelInfoTypeName FROM infofirstleveltype
  </select>
</mapper>