<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peace.ostp.persistence.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.peace.ostp.domain.UserRole">
  	<id column="id" jdbcType="BIGINT" property="id" />
  	<result column="RoleID" jdbcType="VARCHAR" property="roleid" />
    <result column="UserID" jdbcType="VARCHAR" property="userid" />
  </resultMap>
  
 
  <sql id="Base_Column_List">
   id, RoleID, UserID
  </sql>
  
  
  <insert id="insert" >
  	insert into userrole(RoleID,UserID) value(#{roleid},#{userid})
  </insert>
  <delete id="deleteOneByUserId" parameterType="string">
  	delete from userrole where UserID = #{userId}
  </delete>
  
  <update id="updateByUserId" parameterType="com.peace.ostp.domain.UserRole" >
  	update userrole set ROLEID = #{roleid} where USERID =#{userid}
  </update>
</mapper>